doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Appointments Manager
        link(rel="stylesheet", href="style.css")
    body
        h1 Serious MD Appointments
        div
            a(href="/add")
                button Add Appointment
            a(href="/appointment")
                button Edit/Delete Appointments

    script(src="script.js")
