doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Appointments Manager
        link(rel="stylesheet", href="styles.css")
    body
        h1 View Appointment
        div
            label(for="appointmentId") Appointment Id:
            input(type="text", id="appointmentId", name="appointmentId")
            button(onclick="searchAppointment()") Search

            #appointmentDetails 



        script(src="script.js")